@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
background: "#141414";
  font-family: 'Urbanist', sans-serif;
  overflow-x:hidden;
}


@font-face {
    font-family: 'Urbanist';
    font-weight: 600;
    src: url('./fonts/Urbanist-Medium.ttf') format("truetype");

}

@font-face {
    font-family: 'Urbanist';
    font-weight: 100;
    src: url('./fonts/Urbanist-Thin.ttf') format("truetype");

}


@font-face {
    font-family: 'Urbanist';
    font-weight: 500;
    src: url('./fonts/Urbanist-Regular.ttf') format("truetype");

}

@font-face {
    font-family: 'Urbanist';
    font-weight: 700;
    src: url('./fonts/Urbanist-Bold.ttf') format("truetype");

}

@font-face {
    font-family: 'Urbanist';
    font-weight: 900;
    src: url('./fonts/Urbanist-Black.ttf') format("truetype");

}




